$zero: 0;
$primary-color:#5d5470;
$small: 16px;
$roboto:'Roboto', sans-serif;
$white: #fff;
$black: #000;

%display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%store-container{
  width: 30%;
  height: 300px;
  background-color: blue;
  border-radius: 10px;
  background-size: cover !important;
  text-align: center;
  color: $white;
  padding: 15px;
  cursor: pointer;
}

body{
  margin: $zero;
  font-family: $roboto;
}

nav{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $primary-color;
  a{
    color: #fff;
    padding-left: $small;
    text-decoration: none;
  }
  p{
    font-size: 20px;
  }
  img{
    width: 80px;
  }
}

#portada{
  @extend %display-center;
  color: $white;
  font-size: 80px;
  text-shadow: 1px 2px 6px #000;
  height: 60vh;
  background: url("http://www.crowdfunding4culture.eu/sites/default/files/crowdfunding_files/funding-models.png");
  background-position-y:-120px;
}

.store-stores{
  display: flex;
  justify-content: space-around;
  margin: 50px 0 50px 0;
  h5 {
    font-size: 30px;
    text-shadow: 1px 2px 6px $black;

  }
  img{
    width: 100%;
  }
}

.apple-store{
  @extend %store-container;
  background: url("http://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/applehed.jpg?itok=VQMjTsu6&resize=1100x6190");
}

.vinyl-store{
  @extend %store-container;
  background: url("https://www.billboard.com/files/styles/promo_650/public/media/vinyl-records-stock-2017-billboard-1548.jpg");
}

.gamefill-store{
  @extend %store-container;
  background: url("https://www.manchesterarndale.com/images/store-profile/store-fronts/game_227_store_image");
}

.game-shop{
  @extend %store-container;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoi5gSIZ3oidLn4he08RE2ZffqASuHumKFIImz_6II7en3FqJw");
}
